.my-nav .container-fluid{
    justify-content: space-around;
}

 section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section .container{
    display: flex;
     align-items: center;
    justify-content: center;
    height: 50%;
    background-color:  #819A91;
    color: white;
    box-shadow: 2px 2px  20px 10px  rgb(189, 188, 188);
}
a{
    color: white;
    text-decoration: none;
}
